<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wise Cat</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cave">
        <p class="cave-text">You have reached the wise cat</p>
        <div class="cave-entrance" aria-label="Image of a cave mouth."></div>
        <p class="cave-text">Come closer . . .</p>
        <div class="attribution-container">
            <p class="attribution">Image by <a href="https://www.freepik.com/free-psd/beautiful-cat-portrait-isolated_38310639.htm#query=cat%20transparent%20background&position=46&from_view=keyword&track=ais_hybrid&uuid=b7d22bd4-c6c6-4fb0-8800-9587b537dc7c">Freepik</a></p>
            <p class="attribution">Photo by <a href="https://unsplash.com/@brunovdkraan?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Bruno van der Kraan</a> on <a href="https://unsplash.com/photos/sun-rays-inside-cave-v2HgNzRDfII?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
            <p class="attribution">Hymn by <a href="https://pixabay.com/sound-effects/spacial-hymn-52329/">danielsilveira321</a> on pixabay</p>
            <p class="attribution">Wise cat by <a href="https://pixabay.com/sound-effects/cat-meow-14536/">yfjesse</a> on pixabay</p>
        </div>
    </div>

    <div class="wise-cat hide">
        <p class="wise-text opacity-0"><%=fact%></p>
        <img class = "cat opacity-0" src="../images/wise-cat.png" alt="Image of a grey cat looking up."/>
    </div>
    <script src="/index.js"></script>
</body>

</html>