body {
    margin: 0;
}

.cave {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: url("../images/cave.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: transform 4s ease;
}

.speed-transition {
    transition: transform 0.5s ease;
}

.cave-entrance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 600px;
    background-color: transparent;
    opacity: 0.5;
}

.cave-zoom {
    transform:scale(20);
}

.cave-nobg {
    background: white;
}

.attribution-container {
    display: flex;
    justify-content: space-between;
}

.attribution {
    color: white;
    font-size: 1rem;
    margin: 0px 50px;
}

.cave-text {
    margin: 50px;
    font-size: 4rem;
    font-family: "Marck Script", cursive;
    color: white;
    text-shadow: 1px 1px whitesmoke;
}

.wise-text {
    margin: 100px;
    text-align: center;
    align-self: center;
    font-size: 4rem;
    font-family: "Marck Script", cursive;
    color: goldenrod;
    text-shadow: 1px 1px rgb(128, 121, 37);
}

.wise-cat {
    height: 100vh;
    overflow: hidden;
}

.cat {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: auto;
    object-fit: cover;
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    transition: opacity 3s;  
    opacity: 1;
}